{% extends 'SantorMainBundle::layout.html.twig' %}

{% block title %}Santor Edition - Form Success{% endblock %}

    {% block mainTitle %}
        <h1 class="title-{{ class_body }}">Formulaire enregistré avec succès !!</h1>
    {% endblock %}

{% block body %}
    Vous allez être redirigé vers la page d'accueil dans 5 secondes. Cliquez <a href="/">ici</a> pour y aller directement.
{% endblock %}

