{% extends 'SantorMainBundle::layout.html.twig' %}

{% block title %}Santor Edition - Partie admin{% endblock %}

{% block mainTitle %}<h1>Partie admin</h1>{% endblock %}

{% block body %}

    <div class="container">
        Bienvenue
    </div>

{% endblock %}